.block_card {
  @apply relative min-h-[14rem] w-full overflow-hidden rounded-xl border-2 px-4 py-4 shadow focus-visible:outline-blue-400;

  --_border-color: theme("colors.zinc.300");
  --_bg-color: theme("colors.zinc.200");

  background: var(--_bg-color);
  border-color: var(--_border-color);

  .top {
    @apply mb-1;
    .title {
      @apply text-xl font-semibold text-zinc-900;
    }

    .subtitle {
      @apply -mt-0.5 text-sm text-zinc-700;
    }
  }

  .description {
    @apply text-base text-zinc-900;
  }

  .count {
    @apply absolute bottom-0 right-0 -mb-0.5 -mr-0.5 inline-block rounded-tl-xl px-3 py-1 text-sm font-semibold;
    background: var(--_border-color);
  }

  &.color__ {
    &mandatory {
      --_border-color: theme("colors.red.300");
      --_bg-color: theme("colors.red.200");
    }

    &cte-priority {
      --_border-color: theme("colors.purple.300");
      --_bg-color: theme("colors.purple.200");
    }

    &pep-rally {
      --_border-color: theme("colors.teal.300");
      --_bg-color: theme("colors.teal.200");
    }
    &waitlist {
      --_border-color: theme("colors.yellow.300");
      --_bg-color: theme("colors.yellow.200");
    }
  }
}
